@model Javascript_Fetch_Upload_Dotnet_Core_5_with_EF.Models.Imagemodel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imagemodel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemodelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemodelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemodelComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemodelComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ImagemodelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
